node_modules
node_modules/
dist
dist/
.screen-supabase
.screen-supabase/
.screen-supabase/*
/.screen-supabase
/.screen-supabase/
/.screen-supabase/*
*/.screen-supabase
*/.screen-supabase/
*/.screen-supabase/*
.env
.env/
.env/*
/.env
/.env/
/.env/*
*/.env
*/.env/
*/.env/*
.ignore
.ignore/
.ignore/*
/.ignore
/.ignore/
/.ignore/*
*/.ignore
*/.ignore/
*/.ignore/*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
