.screen-supabase
.screen-supabase/
.screen-supabase/*
/.screen-supabase
/.screen-supabase/
/.screen-supabase/*
*/.screen-supabase
*/.screen-supabase/
*/.screen-supabase/*
.env
.env/
.env/*
/.env
/.env/
/.env/*
*/.env
*/.env/
*/.env/*